.link-footer {
  color: #fafbfb;
  text-decoration: none;
  font-size: 1.5rem;
}
.link-footer:hover {
  color: #7b52ae;
  transition: 0.3s;
}
.nav-link1 {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-link1:hover {
  color: #d1d1d1;
}

.bg-footer-dev {
  background-color: #272b30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brand-dev {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.2s;
}
.brand-dev:hover {
  color: #d1d1d1;
}
.espacio {
  padding-top: 20px;
}

.lg-none {
  display: none;
}
.lg-flex {
  display: block;
}
.fixed-arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-verde2);
}
.a-rst {
  all: unset;
  cursor: pointer;
  line-height: 0px;
}

@media (max-width: 992px) {
  .lg-none {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sm-none {
    display: none;
  }
  .lg-flex {
    display: block;
  }
  .img-footer {
    display: none;
  }
}
