@font-face {
  font-family: "NeueMachina";
  src: url("../public/fonts/Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blanco: #dbdbdb;
  --color-negro: #0d0d0d;
  --color-morado1: #7b52ae;
  --color-morado2: #653496;
  --color-verde: #70e000;
  --color-verde1: #88f26b;
  --color-verde2: #7ad95f;
  --color-verde3: #34592a;
}
.blanco {
  color: var(--color-blanco) !important;
}
.negro {
  color: var(--color-negro) !important;
}
.verde {
  color: var(--color-verde) !important;
}
.verde1 {
  color: var(--color-verde1) !important;
}
.verde2 {
  color: var(--color-verde2) !important;
}
.verde3 {
  color: var(--color-verde3) !important;
}
.morado1 {
  background-color: var(--color-morado1) !important;
}
.morado2 {
  background-color: var(--color-morado2) !important;
}

body {
  font-family: "NeueMachina", sans-serif;
}
.sans-serif {
  font-family: sans-serif;
}
.fst-italic {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(234, 75, 75) !important;
  max-width: 350px;
  line-height: 1.6;
  word-wrap: break-word;
}

input::placeholder {
  color: var(--color-verde2) !important;
}

/* Estilos del HOME */
.wrap {
  border-radius: 100% 0% 0% 100% / 100% 40% 60% 0%;
  border: 500px solid var(--color-morado1);
}

.background-section {
  background-color: var(--color-verde2);
  width: 100% !important;
  color: var(--color-negro);
}

.icono {
  background-color: rgba(224, 224, 224, 0.809);
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.above-img {
  position: absolute;
  top: 70%;
  left: 56.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 150%;
  animation: movimiento 2s ease-in-out infinite; /* Aplica la animación */
}

@keyframes movimiento {
  0% {
    transform: translate(
      -50%,
      -40%
    ); /* Posición inicial ligeramente más abajo */
  }
  50% {
    transform: translate(-50%, -50%); /* Posición en el centro */
  }
  100% {
    transform: translate(-50%, -40%); /* Vuelve a la posición inicial */
  }
}
