@font-face {
  font-family: "NeueMachina";
  src: url("../public/fonts/Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blanco: #dbdbdb;
  --color-negro: #0d0d0d;
  --color-morado1: #7b52ae;
  --color-morado2: #653496;
  --color-verde: #70e000;
  --color-verde1: #88f26b;
  --color-verde2: #7ad95f;
  --color-verde3: #34592a;
}
.blanco {
  color: var(--color-blanco) !important;
}
.negro {
  color: var(--color-negro) !important;
}
.verde {
  color: var(--color-verde) !important;
}
.verde1 {
  color: var(--color-verde1) !important;
}
.verde2 {
  color: var(--color-verde2) !important;
}
.verde3 {
  color: var(--color-verde3) !important;
}
.morado1 {
  background-color: var(--color-morado1) !important;
}
.morado2 {
  background-color: var(--color-morado2) !important;
}

body {
  font-family: "NeueMachina", sans-serif;
}
.sans-serif {
  font-family: sans-serif;
}
.fst-italic {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(234, 75, 75) !important;
  max-width: 350px;
  line-height: 1.6;
  word-wrap: break-word;
}

input::placeholder {
  color: var(--color-verde2) !important;
}
